html{
    font-size: 10px; /*remの基準値*/
}

body{
    margin: 0; /*デフォルトの余白を消す*/
    width: 128rem; /*幅は1280px*/
    height: 72rem; /*高さは720px*/
    overflow: hidden; /*枠を超えた部分は隠す*/
    color: white;
    background-color: black;
}

/*
　このcssファイルは絶対にいじらないでください。
　（各人のcssファイル上からbody要素などにデザインをつぎ足すことができます。）
*/